h2 {
    margin-left: 1rem;
}
/*
h2サイズの見出しに左余白を追加する
*/

.work-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* 画面サイズが小さい場合は改行 */
    margin: 20px;
}
/*
.work-cardをフレックスボックスで横並びで均等に配置
*/

.work-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 5px;
    text-align: center;
    max-width: 300px;
    flex-basis: calc(33% - 40px);
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* フレックスボックスで内容を縦並びにする */
    align-items: center;
    cursor: pointer;
}
/*
カードの背景色、ボックスシャドウ、余白、パディング、テキスト配置を指定
クリックしたときのアニメーションを追加
*/

@media (max-width: 768px) { /* メディアクエリ */
    .work-card {
        flex-basis: calc(50% - 40px);
    }
}
/*
画面幅が768px以下ならカードの幅を50%に縮小
*/

@media (max-width: 480px) {
    .work-card {
        flex-basis: calc(100% - 40px);
    }
}
/*
画面幅が480px以下ならカードの幅を100%にして1列表示
*/

.work-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/*
カード内に表示される画像を調節
*/

.work-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
/*
フレックスボックスで画像ギャラリーのレイアウトを横並びにして余白を追加
*/

.gallery-item {
    margin: 10px;
    text-align: center;
    flex-basis: calc(33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
ギャラリー内の各画像アイテムの枠
アイテムを中央揃えにしてテキストを画像の下に表示
*/

.img-item {
    background-color: #000;
    width: 300px;
    height: 400px; /* 3:4のアスペクト比 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
/*
画像を表示する枠
背景を黒くしてサイズを一定にする
*/

.gallery-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s;
}
/*
各画像を調整する
ホバー時に拡大アニメーション
*/

.gallery-image:hover {
    transform: scale(1.1);
}

.modal {
    display: none; /* 初期状態は非表示 */
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);

    opacity: 0;
    transition: opacity 0.3s ease;
    /* モーダル表示時のfade in, fade out */
}
/*
背景全体に暗いオーバーレイを表示する
.showクラスが追加されると表示される
*/

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}
/*
モーダル内の画像を調整
*/

@media (max-width: 768px) { /* メディアクエリ */
    .mordal-content {
        max-width: 90%;
        max-height: 80vh;
    }
}
/*
画面幅が768px以下
*/

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
/*
モーダルを閉じるボタンを右上に配置
ホバー時に色が変わる
*/

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
