h2 {
    margin-left: 1rem;
}

.work-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.work-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    flex-basis: calc(33% - 40px); /* Adjust the basis to make it 3 columns */
    box-sizing: border-box;
}

.work-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.work-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6a0dad;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.work-button:hover {
    background-color: #5a0cac;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.gallery-item {
    margin: 10px;
    text-align: center;
    flex-basis: calc(33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-item {
    background-color: #000;
    width: 300px;
    height: 400px; /* 3:4のアスペクト比 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.gallery-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.1);
}

/* モーダルのスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    border-radius: 8px;
}

#caption {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
